.drawer-button {
  color: black;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  z-index: 2 !important;
  top: 70px !important;
  left: 0 !important;
  background-color: rgba($color: #B9EFA4, $alpha: .6);
  .drawer-icon {
    height: 40px;
    width: 40px;
  }
}
