.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: aqua;
   text-align: end;
   padding-right: 1vw;
   max-height: 4vh;
}
.sound-icon
{
   max-height: 10vh;
}